<div id="top" class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="mt-4">
        <%= render 'admin/genres/genre_sidebar', genres: @genres%>
      </div>
    </div>

    <div class="col-md-9 mb-4">
    </div>
  </div>
</div>