<div class="p-3"><strong>ジャンル検索</strong></div>

<% genres.each do |genre| %>
  <ul>
    <li>
      <%#= link_to posts_path(genre_id: genre.id ) do %>
        <%= genre.name %>
      <%# end %>
    </li>
  </ul>
<% end %>