<div class="p-3"><strong>ジャンル検索</strong></div>

<% genres.each do |genre| %>
  <ul>
    <li>
      <%= link_to root_path(genre_id: genre.id), class: "text-dark", data: { turbolinks: false } do %>
        <%= genre.name %>
      <% end %>
    </li>
  </ul>
<% end %>