<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <p>和歌山のGood point!を共有できるSNS</p>
      </div>
    </div>
  </div>
</footer>