<footer class="container-fluid  text-white">
    <div class="row no-gutters">
      <div class="col-12">
        <p class="text-center pt-3">和歌山のGood point!を共有できるSNSサイト</p>
      </div>
    </div>
</footer>