<footer class="container-fluid bg-dark text-white">
    <div class="row no-gutters">
      <div class="col-12">
        <p class="text-center">和歌山のGood point!を共有できるSNS</p>
      </div>
    </div>
</footer>